@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    font-family: Mulish;
    background-color: #a5d6a7;
}

.container { 
    display: block;
    background-color: #f7f7fc;
    width: 230px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 150px auto;
}

h1 {
    font-size: 24px;
}

p {
    color: #7d7a9e;
}

.fruta {
    width: 160px;
    color: black;
    background-color: #ffffff;
    border: 1px solid #ebebf2;
    border-radius: 100px;
    padding: 5px;
    margin: 0 auto 10px;
}